:root {
    /* the basis for all rem units */
    font-size: 11pt;
}

* {
    box-sizing: border-box;
}

.no-js .js-only {
    display: none;
}

.js .no-js-only {
    display: none;
}

/* the logo */
h1.title { font-family: "Courier New", "Courier", monospace;
    font-size: 150%; font-weight: bold; color: gray;
    margin-top: 0.5em; margin-bottom: 0; }

body {
    /* to disable scroll bounce */
    overflow: hidden;
    background: #ece0cf
}

/* APP LEVEL LAYOUT */
#app {
    height: 100vh;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto auto 1fr 0;
    grid-template-columns: 1fr repeat(10, minmax(6em, 25em)) 1fr;
}
#app-header {
    grid-row: 1;
    grid-column: 2 / 6;
    margin-left: .5em;
}
#app-links {
    grid-row: 1 / 3;
    grid-column: 11;
    justify-self: end;
    text-align: right;
    margin-right: .5em;
}
#app-pipeline {
    grid-row: 2;
    grid-column: 4 / 10;
    justify-self: center;
}
#app-editor {
    grid-row: 3;
    grid-column: 2 / 7;
}
#app-output {
    grid-row: 3;
    grid-column: 7 / 12;
}


/* SUB-PANELS LAYOUT */
/* todo[design] can we make this look like a pipe? either suggestively or even literally?
     it could be implied with arrows, with top and bottom borders to form a channel,
     with a literal 3D cylinder background using CSS or SVG, with animation showing
     a flow from input to output (only on edit), or ____ ? */
#app-pipeline {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: cornsilk;
}

#app-editor { display: flex; flex-direction: column }
#editor-toolbar { flex: 0 }
#editor { flex: 1; font-size: 11pt }

#app-output { display: grid;
    grid-gap: 0;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    overflow: scroll;
}
#output-tabs { grid-row: 1; grid-column: 1; margin-left: auto; }
#output-tab-panes { grid-row: 2; grid-column: 1 }


/* SUB-PANELS COMPONENTS */

#editor-toolbar > :first-child { padding-left: 0 }
.ace_content { margin: 0.5em }
.ace_gutter { padding-top: 0.5em }

#output-tabs .nav-link { padding: .25rem 1rem; }

#output-tab-panes { overflow: scroll; }
#output-tab-panes > .tab-pane { height: 100% }

#output-tab-panes iframe { width: 100%; height: 100%;
    border: none; padding: 0.5em; margin: 0; background: white }
#output-tab-panes > div > pre { width: 100%; height: 100%;
    border: none; padding: 0.5em; color: #333; background: #f8f8ff }

.v-button {
    color: mediumslateblue;
    text-decoration: none;
    cursor: pointer;
}

blockquote { font-size: 100%; }
footer { color: #555; text-align: center; margin: 1em; }
.selected { background-color: #eeeeee; } /* looks like this need to be set another way for Ace editor */
